@rendermode InteractiveServer


<div class="container">
    <div class="row pt-5">
        <div class="col-3 text-start">
            @* <p>LOGO?</p> *@
        </div>
        <div class="col d-flex mx-5 justify-content-center">
            <div class="nav-item">
                <NavLink class="nav-link" href="">
                    Strona główna
                    <span aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link">
                    Dlaczego my
                    <span aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link">
                    Pakiety
                    <span aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link">
                    Lekarze
                    <span aria-hidden="true"></span>
                </NavLink>
            </div>
        </div>
        <div class="col-3 pt-1 text-end">           
            <a role="button" href="/logowanie" class="btn btn-outline-primary button-log-in">Zaloguj sie</a>            
            <a role="button" href="/rejestracja" class="btn btn-primary button-sign-up">Zarejestruj sie</a>
        </div>
    </div>

</div>



@code {

}
