@layout Patient.Api.Client.Layout.UserLayout

@inject IJSRuntime _jsRunTIme

@rendermode InteractiveWebAssembly



<div class="container" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="row">
        <div class="col">
            <div class="menu-item">
                
                <NavLink class="nav-link  d-flex d-flex-row" href="/pacjent">
                    <span class="bi bi-house-door-fill-nav-menu"></span>
                    <span class="" aria-hidden="true"></span> Panel pacjenta
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/raporty">
                    <span aria-hidden="true"></span> Raporty
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/recepty">
                    <span  aria-hidden="true"></span> Recepty
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/wizyty">
                    <span  aria-hidden="true"></span> Umow wizyte
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/zdrowie">
                    <span aria-hidden="true"></span> Zdrowie
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/czat">
                    <span aria-hidden="true"></span> Czat
                </NavLink>
            </div>
        </div>
        <div class="col">
            
        </div>
        <div class="col d-flex d-flex-column justify-content-center align-items-center" >
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="myaccount-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </div>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="Moje Konto" href="/pacjent/konto">Moje konto</a></li>
                    <li><a class="Dokumentacja medyczna" href="/pacjent/dokumentacja-medyczna">Dokumentacja</a></li>
                </ul>
            </div>
        </div>
   
        
        

    </div>
</div>


@code{

    

    

    
}
