

.nav-item {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    color: white;
    margin-left: 0.5rem;
    font-weight: bold;
}

    .nav-item:first-of-type {
    }

    .nav-item ::deep a.active {
        color: rgb(196, 238, 144);
    }

    .nav-item ::deep .nav-link:hover {
        color: rgb(144, 238, 144);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    .nav-item ::deep .nav-link {
        color: white;
    }





.myaccount-menu {
    cursor: pointer;
    display: block;
    border: 1px solid black;
}


.myaccount-menu-notvisible {
    display: none;
}

.myaccount-icon {
    height: 3rem;
    width: 3rem;
    color: white;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


.dropdown-menu {
    margin-top: 0;
}