@layout Patient.Api.Client.Layout.MyAccount.PatientAccountLayout


@page "/pacjent/wywiad/zmien"

<h3> Tutaj zmieniac wywiad pacjenta - tzn tu moze przypisac choroby dac zdjecia itd</h3>





@code {

}
