@layout Patient.Api.Client.Layout.MyAccount.PatientAccountLayout

@page "/pacjent/wywiad"

<h3>MedicalInterview</h3>


<h3> Tutaj pokazywac stare i terazniejsze choroby usera - jakies odpowiedzi na wywiad, przyjmowane leki itd</h3>

@code {

}
