@layout Patient.Api.Client.Layout.UserLayout
@using Patient.Domain.Constants;
@using Patient.Api.Extensions;
@inject Microsoft.JSInterop.IJSRuntime _jsRuntime
@inject NavigationManager NavigationManager


@attribute [Authorize(Roles = UserRoles.Patient)]


@page "/pacjent"

<h3> Panel Pacjenta </h3>



@code {
    public string Token { get; set; }


    protected override async Task OnInitializedAsync()
    {




    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Token = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
            
        }
    }
}
