@layout Patient.Api.Client.Layout.UserLayout
@using Patient.Domain.Constants;
@using Patient.Api.Extensions;
@inject Microsoft.JSInterop.IJSRuntime _jsRuntime
@inject NavigationManager NavigationManager


@attribute [Authorize(Roles = UserRoles.Patient)]


@page "/pacjent"

<h3> Panel Pacjenta </h3>
<h2> Na prawo - Rekomendacje: Otrzymano nową rekomendacje </h2>

<h3> Jezeli user nie ma jeszcze przypisanych leczonych chorob jakie chcialby tu leczyc </h3>

<h2>
    <Patient.Api.Components.Pages.PatientPages.MainPanel.AdditionalComponents.SummaryComponent></Patient.Api.Components.Pages.PatientPages.MainPanel.AdditionalComponents.SummaryComponent>
</h2>



@code {
    public string Token { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //sprawdzic czy pacjent ma jakies choroby przypisane i jak nie to wyswietlac przejscie do stronki /pacjent/konto/wywiad/zmien 
        // zeby ktos mogl dodac se choroby ;)


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Token = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
            
        }
    }
}
