@layout Patient.Api.Client.Layout.UserLayout

@page "/pacjent/czat"



<h3>Chats</h3>



@code {
    //czaty - maja sie pojawiac czaty z twoimi tylko lekarzami - jesli ktos chce np z innym lekarzem - to musi poprosic swojego lekarza
    // ze sa jakies wskazania - i on moze dopisac lekarza komus np z okreslona specjalizacja
}
