@layout Patient.Api.Components.Layout.Doctor.DoctorLayout

@using Patient.Domain.Constants

@attribute [Authorize(Roles = UserRoles.Doctor)]

@page "/lekarz"



<h3> Panel lekarza</h3>

@code {
    protected override async Task OnInitializedAsync()
    {




    }

    
}
