.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.widget-list {
    border: solid 1px black;
    border-radius: 5%;
    width: 100%;
}
