
<div class="modal-backdrop">
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Podglad</h5>
                <button type="button" class="btn-close" @onclick="CloseModalFilePreview"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p>Nazwa pliku</p>
                            <p>@CurrentFileName</p>
                        </div>
                        <div class="col-8">
                            <p>Typ pliku</p>
                            <p></p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            <img src="@CurrentFileBase64" class="img-fluid" style="max-width:100%; height:auto;" />
                            <p>Opis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-custom-primary" @onclick="CloseModalFilePreview">Zamknij</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string? CurrentFileBase64 { get; set; } = "";
    [Parameter]
    public string? CurrentFileName { get; set; } = "";
    [Parameter]
    public string? CurrentFileType { get; set; }
    [Parameter]
    public string? CustomStyle { get; set; } = "";
    [Parameter]
    public EventCallback OnClose { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }

    private void CloseModalFilePreview()
    {
        OnClose.InvokeAsync(); 
    }
}
