@layout Patient.Api.Client.Layout.MyAccount.PatientAccountLayout

@page "/pacjent/konto"

@using MudBlazor

<div class="container">
    <section>
        <div class="row">
            <MudAvatar Size="Size.Large" Style="width: 10%; height: 10%;">
                <MudImage Src="/images/pies-rasy-beagle.jpg"></MudImage>
            </MudAvatar>
        </div>
    </section>
    <section>
        Dane
    </section>
    
</div>
@code {

}
