@using Patient.Api.Components.PageControlls
@using System.Diagnostics
@using System.Timers

@inject NavigationManager Navigation
@rendermode InteractiveServer

@layout Layout.LoggingLayout
@page "/rejestracjapacjent"



<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Rejestracja</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Imię</label>
                            <input type="text" class="form-control" id="name" placeholder="Wprowadź imię" required @bind="name">
                        </div>
                        <div class="form-group">
                            <label for="surname">Nazwisko</label>
                            <input type="text" class="form-control" id="surname" placeholder="Wprowadź nazwisko" required @bind="surname">
                        </div>
                        <div class="form-group">
                            <label for="pesel">Pesel</label>
                            <input type="number" class="form-control" id="pesel" placeholder="Wprowadź numer pesel" required @bind="pesel">
                        </div>
                        <div class="form-group">
                            <label for="email">Adres e-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="Wprowadź adres e-mail" required @bind="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło</label>
                            <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło" required @bind="password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Potwierdź hasło</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Potwierdź hasło" required @bind="confirmPassword">
                        </div>
                        @* <div class="text-center">
                            <button  @onclick="OnRegister" type="submit" class="btn btn-primary mt-4">Zarejestruj się</button>
                        </div> *@
                        
                    </form>
                </div>
                
            </div>
            @* @if (registrationResult.Length>0 && successfullRegistration!=true){
                <div class="alert alert-info" role="alert">
                    @registrationResult
                </div>
            }
            @if (successfullRegistration == true)
            {
                <div class="alert alert-success" role="alert">
                    Rejestracja przebiegla pomyslnie!
                </div>

            } *@
            
        </div>
    </div>
</div>


@code {
    private string email { get; set; }
    private string name { get; set; }
    private string surname { get; set; }
    private string pesel { get; set; }
    private string password { get; set; }
    private string confirmPassword { get; set; }

    // [Inject] private UserManager<Patient.Domain.Entities.Actors.User> userManager { get; set; }

    // private bool successfullRegistration = false;

    // System.Timers.Timer aTimer;

    // private string registrationResult="";

    // private async Task OnRegister()
    // {
    //     if (password != confirmPassword)
    //     {
    //         return;
    //     }

    //     var patient = new Patient.Domain.Entities.Actors.Patient
    //     {
    //         Email = email,
    //         Name = name,
    //         Surname = surname,
    //         Pesel = pesel,

    //     };
    //     var result = await userManager.CreateAsync(patient, password);

    //     //
    //     if (result!=IdentityResult.Success)
    //     {
            
    //         foreach (var error in result.Errors)
    //         {
    //             registrationResult += error.ToString();
    //         }
    //     }
    //     else 
    //     {
    //         successfullRegistration = true;
    //         aTimer = new System.Timers.Timer(5000);
    //         aTimer.Elapsed += TimerElapsed;
    //         aTimer.AutoReset = true;
    //         aTimer.Enabled = true;
    //     }

    // }

    // private async void TimerElapsed(Object source, ElapsedEventArgs e)
    // {
    //     Navigation.NavigateTo("/logowaniePacjent");
    // }
}
