
.custom-mud-list {
    padding-left: 0; 
    padding-right: 0; 
}

.custom-mud-list-item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.d-flex-row{
    flex-direction: row;
}
