
@inherits LayoutComponentBase


<div class="page">
    <div class="menu-bar">
        <DoctorMenu />

    </div>

    <main>

        <article class="content justify-content-center">
            @Body
        </article>
    </main>
</div>



