
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <DoctorMenu />
    </div>

    <main>
        
        <article class="content justify-content-center">
            @Body
        </article>
    </main>
</div>
