@layout Patient.Api.Components.Layout.Doctor.DoctorLayout

@rendermode InteractiveServer


@inject IJSRuntime _jsRunTIme

<div class="container">
    <div class="row d-flex align-items-center align-content-center pt-5">
        <div class="col-3">
            <Patient.Api.Client.Layout.AdditionalComponents.HeaderLogo/>
        </div>
        <div class="col d-flex">
            <div class="nav-item">  
                <NavLink class="nav-link  d-flex d-flex-row" href="/lekarz">
                    <span class="bi bi-house-door-fill-nav-menu"></span>
                    <span aria-hidden="true">Panel</span> 
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="/lekarz/raporty">
                    <span aria-hidden="true">Raporty</span> 
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="/lekarz/recepty">
                    <span aria-hidden="true">Recepty</span> 
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="/lekarz/czat">
                    <span aria-hidden="true">Czat</span> 
                </NavLink>
            </div>
            
        </div>
        <div class="col-3 d-flex d-flex-column justify-content-center align-items-center">
            <div class="dropdown">
                <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="myaccount-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </div>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="Moje Konto" href="/lekarz">Moje konto</a></li>
                    <li><a class="Wyloguj się" href="#">Wyloguj sie</a></li>
                </ul>
            </div>d
        </div>
    </div>
</div>



@code{
    
}
