@layout Patient.Api.Client.Layout.UserLayout
@rendermode InteractiveServer



<div class="container" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="row">
        <div class="col">
            <div class="menu-item">
                
                <NavLink class="nav-link  d-flex d-flex-row" href="/pacjent">
                    <span class="bi bi-house-door-fill-nav-menu"></span>
                    <span class="" aria-hidden="true"></span> 
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/raporty">
                    <span aria-hidden="true"></span> 
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/recepty">
                    <span  aria-hidden="true"></span> 
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/wizyty">
                    <span  aria-hidden="true"></span> 
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/zdrowie">
                    <span aria-hidden="true"></span> 
                </NavLink>
            </div>
        </div>
        <div class="col">
            <div class="menu-item">
                <NavLink class="nav-link" href="/pacjent/czat">
                    <span aria-hidden="true"></span> 
                </NavLink>
            </div>
        </div>
        <div class="col">
            
        </div>
        <div class="col d-flex d-flex-column justify-content-center align-items-center" >
            <div class="myaccount-icon" @onclick="OnMyAccount">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
            </div>
            <div class="myaccount-menu  @(isAccountMenuVisible ? "myaccount-menu-visible" : "myaccount-menu-notvisible")">
                <div class="nav-item">
                    <NavLink class="nav-link">
                        <span aria-hidden="true"></span>Moje konto
                        
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="/pacjent/dokumentacja-medyczna">
                        <span aria-hidden="true"></span>Dokumentacja medyczna
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link">
                        <span aria-hidden="true"></span>Opcja3
                    </NavLink>
                </div>
            </div>
        </div>




        
        
        
                
        
        
        

    </div>
</div>


@code{
    private bool isAccountMenuVisible = false;

    private void OnMyAccount()
    {
        isAccountMenuVisible = !isAccountMenuVisible;
    }
}
