
.file-block{
    display: inline-block;
    position: relative;
    width: 4.5rem;
    height: 5rem;
    margin-block: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid black;
    
}

.no-border-input{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

