@layout Layout.Main.MainLayout
@page "/"
@rendermode InteractiveServer


<PageTitle>Dzielny-pacjent</PageTitle>

<div class="container pt-2">
    <section class="pt-5 position-relative" style="width:100%;">
        
        <div class="rotated-text rotated-header d-flex">
            Dzielny-pacjent 
        </div>
        <div class="rotated-text rotated-subheader">
            Bądź w ciągłej opiece
        </div>  
            
        <div class="logo logo-heart">

        </div>
        <div class="logo logo-googles">

        </div>       
    </section>
    <section>

    </section>
    <section>
        <h3>Pakiety</h3>
        @* tutaj karty z subskrypcjami *@
    </section>

</div>






@code{
    
}