@inject NavigationManager Navigation
@rendermode InteractiveServer

@layout Layout.LoggingLayout
@page "/rejestracja"

<div class="container">
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="card shadow-sm" style="width: 100%; max-width: 400px;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Pacjent</h2>
                    <NavLink href="/rejestracjaPacjent">
                        <btn type="button" class="btn btn-primary"> Logowanie</btn>
                    </NavLink>
                </div>
            </div>

            <NavLink href="/rejestracjaPacjent">
                <btn type="button" class="btn btn-primary"> Logowanie</btn>
            </NavLink>
            
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="card shadow-sm" style="width: 100%; max-width: 400px;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Lekarz</h2>
                    <NavLink href="/rejestracjaLekarz">
                        <btn type="button" class="btn btn-primary"> Logowanie</btn>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
