@inherits LayoutComponentBase


<div class="page">
    <div class="menu-bar">
        <Patient.Api.Components.Layout.Main.Menus.MainMenu />
    </div>
    <div class="demo-sign text-center">
        <Patient.Api.Components.Layout.Main.AdditionalComponents.DemoSign/>
    </div>
    <main>
        
        <article class="content px-10">
            @Body
        </article>
    </main>
</div>
