
.btn-log-doctor {
    border-color: rgb(144, 238, 144);
    color: rgb(144, 238, 144);
    border-radius: 20px;
    font-weight: bold;
}

    .btn-log-doctor:hover {
        background-color: rgb(144, 238, 144);
        color: white;
    }

.btn-log-patient {
    background-color: rgb(144, 238, 144);
    border-color: rgb(144, 238, 144);
    border-radius: 20px;
    font-weight: bold;
}

    .btn-log-patient:hover {
        border-color: white;
    }
