@layout Patient.Api.Client.Layout.UserLayout
@rendermode @(new InteractiveServerRenderMode(false))
@page "/pacjent/recepty"


@using Patient.Domain.Interfaces
@using Patient.Domain.Entities.DTOs
@using Patient.Domain.Entities;
@using Patient.Domain.Entities.DTOs.Reports
@using Patient.Domain.Repositories

@inject IDiseaseRepository _diseaseRepository
@inject IPatientApiService _patientApiService
@inject NavigationManager _navigationManager
@inject IHttpContextAccessor contextAccesor
@inject UserManager<Patient.Domain.Entities.Actors.Patient> _patientManager
@inject IPrescriptionRequestRepository _prescriptionRequestRepository

<div class="container px-4 position-relative">
    @if (showReminder)
    {
        <section>
            <Patient.Api.Components.ManageComponents.FullfillMedicalInterviewReminderComponent />
        </section>
    }
    else
    {
        <section>
            <div class="row text-center">
                <MudPaper Class="pa-4 ma-3 summary-item" Elevation="3" Style="cursor: pointer;">
                    <h3></h3>
                    <btn type="button" class="btn btn-primary btn-custom-primary" @onclick="ShowAskForPrescriptionModal">
                        Poproś o recepte
                    </btn>
                </MudPaper>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col">
                    <MudPaper Class="pa-4 ma-3 summary-item" Elevation="3" Style="cursor: pointer;">
                        <CascadingValue Value="currentPatient">
                            <Patient.Api.Components.Pages.PatientPages.Prescription.AdditionalComponents.PatientsPrescriptionsComponent />
                        </CascadingValue>
                    </MudPaper>
                </div>
                <div class="col">
                    <MudPaper Class="pa-4 ma-3 summary-item" Elevation="3" Style="cursor: pointer;">
                        <h3>Twoje prosby o recepty</h3>
                        <h3>@prescriptionRequestsNumber</h3>
                    </MudPaper>
                </div>
            </div>
        </section>
    }
    
    @if (showAskForPrescriptionModal)
    {
        <Patient.Api.Components.Pages.PatientPages.Prescription.AdditionalComponents.AskForPrescriptionModal OnClose="CloseAskForPrescriptionModal" />
    }
</div>


@code {
    private bool showAskForPrescriptionModal;


    private Patient.Domain.Entities.Actors.Patient currentPatient = new();
    private int prescriptionRequestsNumber;


    //dla zablokowania okna
    private bool showReminder;

    protected override async Task OnInitializedAsync()
    {       
        await CountUserPrescriptionRequests();
        if ((await _diseaseRepository.CountPatientsCurrentDiseases(currentPatient.Id) == 0) && (currentPatient.PreventionPatient==false))
        {
            showReminder = true;
        }
    }

    private void ShowAskForPrescriptionModal()
    {
        showAskForPrescriptionModal = true;
        StateHasChanged();
    }

    private async void CloseAskForPrescriptionModal()
    {
        await CountUserPrescriptionRequests();
        showAskForPrescriptionModal = false;
        StateHasChanged();
    }
    private async Task CountUserPrescriptionRequests()
    {
        currentPatient = await _patientManager.GetUserAsync(contextAccesor.HttpContext.User);
        prescriptionRequestsNumber = await _prescriptionRequestRepository.CountPatientsPrescriptions(currentPatient.Id);
        StateHasChanged();
    }


    
}
