

@inherits LayoutComponentBase



<UserLayout>
    <div class="page">
        <div class="sidebar sidebar-sub">
            <Patient.Api.Client.Layout.MyAccount.SideAccountMenu />
        </div>
        <main>

            <article class="content px-4">
                @Body
            </article>
        </main>
        
    </div>>
    
</UserLayout>   
    


    



    
