@layout Patient.Api.Client.Layout.UserLayout

@page "/pacjent/raporty"

@rendermode @(new InteractiveServerRenderMode(false))


@using Patient.Domain.Interfaces
@using Patient.Domain.Entities.DTOs
@using Patient.Domain.Entities;
@using Patient.Domain.Entities.DTOs.Reports
@using Patient.Domain.Repositories
@using Patient.Application.Users

@inject IPatientApiService _patientApiService
@inject NavigationManager _navigationManager
@inject IDiseaseRepository _diseaseRepository
@inject UserManager<Patient.Domain.Entities.Actors.Patient> _patientManager
@inject IUserContext _userContext

@implements IDisposable

<div class="container px-4">
    @if (showReminder)
    {
        <section>
            <Patient.Api.Components.ManageComponents.FullfillMedicalInterviewReminderComponent />
        </section>
    }
    else
    {
        <section>
            <div class="row text-center">
                <MudPaper Class="pa-4 ma-3 summary-item" Elevation="3" Style="cursor: pointer;">
                    <h3></h3>
                    <NavLink href="/pacjent/dodaj-raport">
                        <btn type="button" class="btn btn-outline-primary btn-custom-outline">
                            Zloz raport tutaj
                        </btn>
                    </NavLink>
                </MudPaper>
            </div>
        </section>
        <section>
            @if (mainComponentInitialized)
            {
                <div class="row">
                    <div class="col">
                        <MudPaper Class="pa-4 ma-3 summary-item" Elevation="3" Style="cursor: pointer;">
                            <Patient.Api.Components.Pages.PatientPages.Reports.AdditionalComponents.PatientsReportsComponent TokenSource="TokenSource" />
                        </MudPaper>
                    </div>
                    <div class="col">
                    </div>
                </div>
            }
            else
            {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
            }

        </section>
    }
    


</div>

@code {
    private CancellationTokenSource TokenSource = new();

    private Patient.Domain.Entities.Actors.Patient currentPatient = new();

    private bool showReminder;
    private bool mainComponentInitialized;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(500);

        var currentUser = await _userContext.GetCurrentUserAsync();

        currentPatient = await _patientManager.FindByIdAsync(currentUser.Id);
        if ((await _diseaseRepository.CountPatientsCurrentDiseases(currentPatient.Id, TokenSource.Token) == 0) && (currentPatient.PreventionPatient == false))
        {
            showReminder = true;
        }
        mainComponentInitialized = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        TokenSource.Cancel();
        TokenSource.Dispose();
    }

}
